<div class="row mt-5">
    <div class="col-md-4 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <!--
                <div class="text-center">
                    <img src="../logo/logo.png"/>
                </div>
            -->
            <% include ./partials/messages %>
            <form action="/auth/register" method="POST">
                <div class="form-group">
                    <label for="name">使用者名稱：</label>
                    <input type="name" id="name" name="name" class="form-control"
                        value="<%= typeof name != 'undefined' ? name : '' %>" />
                </div>
                <div class="form-group">
                    <label for="email">郵箱：</label>
                    <input type="email" id="email" name="email" class="form-control"
                        value="<%= typeof email != 'undefined' ? email : '' %>" />
                </div>
                <div class="form-group">
                    <label for="password">密碼：</label>
                    <input type="password" id="password" name="password" class="form-control"
                        value="<%= typeof password != 'undefined' ? password : '' %>" />
                </div>
                <div class="form-group">
                    <label for="password2">確認密碼：</label>
                    <input type="password" id="password2" name="password2" class="form-control"                        
                        value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">
                    註冊
                </button>
            </form>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                        <a class="btn btn-lg btn-info btn-block" href="/auth/google" role="button">Google 快速註冊</a>
                </div>   
                <div class="col">
                    <a class="btn btn-lg btn-info btn-block" href="/auth/login" role="button">已有帳號：登入</a>
                </div>
            </div>
        </div>
    </div>
</div>