* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  height: 100%;  
}

body {   
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}




/*==================== Header====================*/

#Header {
  overflow: hidden;
  background-color: #FCD3D1;  /*color*/
  background-color: #26272B;
  font-family: 'Noto Sans TC', sans-serif;
}

.navi-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navi-item {
  margin: 8px 20px;
  display: block;
  border-radius: 10px;
}

.navi-item a{
  text-decoration: none;
  color: white;           /*color*/
  padding: 8px 14px;
  font-size: 25px;
}

.navi-item span{
  text-decoration: none;
  color: white;           /*color*/
  padding: 8px 14px;
  font-size: 25px;
}

.navi-item a:hover{
  color: #3366cc;          /*color*/
  text-decoration: none;
}

/*=====================main===================*/
.main{
  height:80%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  padding-bottom: 1%;
  padding-top: 1%;
}

.white{
  color: rgba(255, 255, 255, 0.884);
}
/*global_market*/
#global_mkt_ticker{
  height: 10%;
  padding-bottom: 0%;
}

#global_mkt_main_left{
  height:90%;
  width: 30%;
  padding-left:1%;
  padding-top: 0%;
  float:left;
}

#global_mkt_main_right{
  height:90%;
  width: 70%;
  padding-left:1%;
  padding-top: 0%;
  float:left;
}


/*===crawler===*/
.background{
  width:100%;
  height:100%;

}

#crawled-log-container{
  overflow:hidden;
  position: relative;
  margin-left:300px;
  margin-right: 0;
  height: 100%;
  max-width: 560px;  
  padding-top: 20px;
}

#crawled-title{
  margin:0;
  padding:0;
  text-align: left;
  height:10%;
}

#crawled-log{  
  text-align: center;
  margin:0;
  padding:0;
  overflow: auto;
  height:80%;
}

#crawled-log-list{
  margin:0;
  padding-left:50px;
  list-style-type:none;
  font-size: 25px;
  text-align: left;
}

#crawled-footer{
  color: rgba(255, 255, 255, 0.884);
  margin-left:300px;
  margin:0;
  padding-top: 15px;
  text-align: right;
  height:10%;
}

#crawler-main{
  background-image: url('./assets/mining.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
/*=== database ===*/
#stock-intro{
  width: 50%;
  float:left;
}

#querier{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  padding-left: 5%;
  padding-top: 1%;
  width: 50%;
  float:left;
}

.Database-input-field{
  float:left;
  width:70%;
  height: 100%;
}

.Database-submit-field{
  float:left;
  width:30%;
  height: 100%;
}

.Database-date{
  float:left;
  width:50%;
  padding-top: 3%;

}

.Database-date-right{
  float:left;
  width:40%;
  padding-top:3%;
}

.submit-field{
  float:left;
  width:30%;
  height: 100%;
  padding-top: 12%;
}

/*=====================footer===================*/
.site-footer
{
  background-color:#26272b;
  padding:12px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:1px;
  font-weight: bold;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}